@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#000
}

input{
  color:#fff;
  padding:17px;
  outline:none;
  font-size: 30px;
  font-family: 'Lilita One', cursive;
  border-radius: 25%;
}

.maincolor{
  background-color: #290527;
}

.num{
  width: 64px;
  height: 67px;
}

.text{
  width: 160px;
  height: 26px;
  border-radius: 22px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 12px;
}

.text1{
  width: 24px;
  height: 26px;
  border-radius: 22px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom:12px;
  border-radius: 50%;
  cursor: pointer;
}

.main{
  display: inline-block;
}

.blue{
  background-color:#d0ff00;
  color:black
}

.pin{
    background-color:#d0ff00;
    color:black
}

.gre{
    background-color:#d0ff00;
    color:black
}

.pur{
    background-color:#d0ff00;
    color:black
}

.ora{
    background-color:#d0ff00;
    color:black
}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: verdana;
}